.about{
    background-color: #eee;
    min-height: 110vh;
}

.about__pattern{
    background-image: url('../../Assets/pattern_right.png');
    background-repeat: no-repeat;
    background-position: right;
    /* background-size: contain; */
}

.about__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    margin: 0 auto;
}

.about__title{
    font-size: 3.4rem;
    padding: 1rem;
}

.about__desc{
    font-size: 1rem;
    padding: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.about__img{
    width: 40rem;
}

@media screen and (max-width: 960px){
    .about__img{
        width: 30rem;
    }

    .about__img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        padding: 0.5rem;
    }

    .about__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 2rem auto;
    }
}

@media screen and (max-width: 600px){
    .about__img{
        width: 18rem;
    }
    
}
