.about{
    background-color: #fff;
    padding: 1rem;
}

.about__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

.about__title{
    font-size: 3.4rem;
    padding: 1rem;
}

.about__desc{
    font-size: 1rem;
    padding: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.about__img{
    width: 40rem;
}

