.header{
    min-height: 100vh;
    background-color: #2F2E41;
}

.header__title-paper{
    /* background-color: #eee; */
    padding: 1rem 2rem;
    margin: 5rem 1rem 0 0;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header__mail-paper{
    /* background-color: #eee; */
    padding: 1rem;
    margin: 5rem 0 0 0;
    color: #eee;
}

.header__title{
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 0.8rem;
}

.header__subTitle{
    margin-top: 0.6rem;
    padding-left: 1rem;
}

.header__mail-img{
    width: 400px;
}

@media screen and (max-width: 900px){
    .header__mail-img{
        width: 20rem;
    }

}

@media screen and (max-width: 768px){
    .header__title-paper{
        margin: 5rem 0rem 0 0;
    }

    .header__title{
        font-size: 2rem;
        font-weight: 700;
        padding-left: 0.8rem;
    }

    .header__mail-paper{
        margin: 3rem 0 1rem 0;
    }

    .header__mail-img{
        width: 13rem;
    }
}