.nav__grid{
  background-color: #001835;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  
  .nav__logo-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__title{
    color: #eee;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1rem;
  }

  .nav__menu{
    display: none;
  }

  .nav__btns{
    display: block;
  }

  @media screen and (max-width: 768px){
    .nav__menu{
      display: block;
    }

    .nav__btns{
      display: none;
    }
  }