.header{
    height: 100vh;
}

.header__paper{
    background-color: #eee;
    padding: 1rem;
    margin: 1rem;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.header__title{
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 0.8rem;
}

.header__subTitle{
    margin-top: 0.6rem;
    padding-left: 1rem;
}