.signup{
    min-height: 100vh;
    background-color: #eee;
}

.signup__grid{
    padding: 1rem;
}

.signup__img{
    width: 600px;
    transition: 0.2s ease;
}

.signup__grid-img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.signup__grid-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup__textfield{
    margin-bottom: 0.8rem;
}

.pattern{
    background-image: url("../../Assets/pattern.svg");
    background-repeat: no-repeat;
    background-position: left-top;
    background-attachment: scroll;
    object-fit: cover;
}

.signup__form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px){
    .signup__img{
        width: 30rem;
    }
}

@media screen and (max-width: 768px){
    .signup__grid-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup__img{
        width: 18rem;
    }
}

