.login{
    min-height: 100vh;
    background-color: #eee;
}

.login__form{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login__form-title{
    padding: 2rem 0;
}

.login__form-subtext{
    padding-bottom: 2rem;
}

.login__form-link{
    text-decoration: none;
    color: #0074FC;
    font-weight: 500;
}

.login__form-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login__form-img1{
    width: 20rem;
    transition: 0.2s ease;
}

.login__form-copyright{
    padding: 2rem 0;
    font-size: 0.8rem;
    color:#303030;
}

.login__guide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #F9D51C;
}

.login__guide-img2{
    width: 40rem;
    transition: 0.2s ease;
}

.login__guide-text{
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login__guide-subtext{
    text-align: center;
    padding: 2rem 0;
}

@media screen and (max-width: 1200px){
    .login__guide-img2{
        width: 35rem;
    }
}

@media screen and (max-width: 960px){
    .login__form{
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login__form-subtext{
        text-align: center;
    }

    .login__form-img1{
        width: 20rem;
        transition: 0.2s ease;
    }

    .login__guide-img2{
        width: 30rem;
    }
}

@media screen and (max-width: 768px){
    .login__form{
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login__form-copyright{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .login__form{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login__form-img1{
        width: 15rem;
        transition: 0.2s ease;
    }

    .login__guide-img2{
        width: 15rem;
    }
}