@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.paper{
  background-color: #eee;
  padding: 1rem;
  margin: 1rem;
}

.app{
  min-height: 100vh;
  width: 100%;
}

